* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #003049;
    height: 100%;
    font-family: "Genos", sans-serif;
}

.container {
    background-color: #fafafa;
    width: 100%;
    max-width: 600px;
    margin: auto;
    /* padding: 20px; */
    border-radius: 6px;
    box-shadow: 2px 2px 20px 2px rgba(180, 180, 180, 0.300);
}

.container > h2 {
    text-align: center;
    padding: 15px;
    font-size: 32px;
}

#ui {
    background-color:#fdf0d595;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 2%;
}

#ui > input {
    width: 50%;
    margin:  0 auto 15px auto;
    padding: 6px ;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#ui > input[type=number]:focus{
    outline: 1px solid #669bbc;
}

#ui > label {
    margin: 0 auto 5px auto;
    width: 50%;
    font-size: 20px;
}

#countBtn {
    cursor: pointer;
    background-color: #669bbc;
    color: #f9f9f9;
    font-weight: 500;
    font-size: 15px;
    transition: 0.4s;
}

#countBtn:hover {
    background-color: #003049;
}

#resetBtn {    
    cursor: pointer;
    background-color: #c1121f;
    color: #f9f9f9;
    font-weight: 500;
    font-size: 15px;
    transition: 0.4s;
}

#resetBtn:hover {
    background-color: #780000;
}

#display{
    background-color: #8bb2c9;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-radius: 0 0 6px 6px;
}